{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4">ĐẶT PHÒNG</h2>
    <form>

        <div>
            <label for="name" class="form-label">Tên người đặt</label>
            <input type="text" id="name" class="form-control"/>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <label for="checkin" class="form-label">Ngày nhận phòng</label>
                <input type="date" id="checkin" class="form-control"/>
            </div>
            <div class="col">
                <label for="checkout" class="form-label">Ngày trả phòng</label>
                <input type="date" id="checkout" class="form-control"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <!-- Hiển thị tổng số khách thuê -->
            <div class="col">
                <label for="num_guests" class="form-label">Số lượng khách thuê đã thêm</label>
                <input type="number" id="num_guests" class="form-control" min="1" readonly/>
            </div>
            <!-- Hiển thị tổng số phòng thuê -->
            <div class="col">
                <label for="num_rooms" class="form-label">Số lượng phòng đã chọn</label>
                <input type="number" id="num_rooms" class="form-control" readonly min="0"/>
            </div>
        </div>
        <br/>
        <h5 class="mb-3">Chọn loại phòng</h5>
        <!-- Chọn loại phòng trong -->
        <div class="row">
            {% for room_type in room_types %}
            <div class="col-2 form-check form-check-inline">
                <input class="form-check-input room-type-checkbox" type="checkbox" value="{{ room_type.id }}"
                       id="room_type_{{ room_type.id }}" name="room_type_id">
                <label class="form-check-label" for="room_type_{{ room_type.id }}">{{ room_type.name }}</label>
            </div>
            {% endfor %}
        </div>
        <br/>
        <!-- Hiển thị danh sách phòng theo loại đã chọn dưới dạng có thể tick chọn nhiều-->
        <!--        tam de day mai an no chung voi danh sach-->
        <div class="row">
            <h5 class="mb-3 col-11">Danh sách phòng khả dụng</h5>
            <!-- Button to uncheck all selected rooms -->
            <button type="button" id="uncheckAllButton" class="btn btn-red col-1 btn-circle"><i
                    class="fa fa-trash"></i></button>
        </div>

        <div class="list-view-container mt-3" id="room-list">
        </div>

        <br/>
        <!-- hiển thị tiêu đề "Danh sách khách hàng" -->
        <h5 class="mb-3">Danh sách khách hàng</h5>
        <!-- Hiển thị bảng danh sách khách hàng -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Tên khách hàng</th>
                <th>Loại khách hàng</th>
                <th>CMND</th>
                <th>Địa chỉ</th>
            </tr>
            </thead>
            <tbody id="customerTableBody">
            <tr>
                <td><input type="text" class="form-control" placeholder="Tên khách hàng"></td>
                <td>
                    <select class="form-select customerTypeSelect">
                        {% for type in cust_types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="text" class="form-control" placeholder="CMND"></td>
                <td><input type="text" class="form-control" placeholder="Địa chỉ"></td>
            </tr>
            </tbody>
        </table>

        <div class="row" id="fnc_button">
            <div class="col">
                <button type="button" class="btn btn-pink btn-circle rounded-circle" id="addRowButton"><strong>&plus;</strong></button>
                <button type="button" class="btn btn-pink btn-circle rounded-circle" id="removeRowButton"><strong>&minus;</strong>
                </button>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="submit" class="btn btn-gr" id="confirmBookingButton">Đặt phòng</button>
            </div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}