{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Thông Tin Đặt Phòng</h3>
                <hr style="border: 1px solid black;"/>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Mã Đơn: </strong>{{ bill.id }}</p>
                        <p><strong>Tên Người Đặt: </strong>{{ bill.renting_order.booking_order.user.name }}</p>
                        <p><strong>Ngày Nhận Phòng: </strong>{{ bill.checkin_date.strftime('%d/%m/%Y') }}</p>
                        <p><strong>Ngày Trả Phòng: </strong>{{ bill.checkout_date.strftime('%d/%m/%Y') }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Ngày Lập Phiếu: </strong>{{ bill.renting_order.created_date.strftime('%d/%m/%Y') }}</p>
                        <p><strong>Số Lượng Khách: </strong>{{ num_cust }}</p>
                        <p><strong>Số Lượng Phòng: </strong>{{ num_room }}</p>
                        <p><strong>Tổng Tiền Của Đơn: </strong>{{ "{:,.0f}".format(price) }} VNĐ</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Chi tiết của đơn:</h4>
            <table class="table table-hover table-bordered text-center">
                <tr>
                    <th scope="col">Phòng</th>
                    <th scope="col">Khách Nội Địa</th>
                    <th scope="col">Khách Quốc Tế</th>
                    <th scope="col">Đơn Giá Phòng</th>
                    <th scope="col">Tổng Giá Phòng</th>
                </tr>
                <tbody>
                    {% for rd in details %}
                        <tr>
                            <td>{{ rd.room_name }}</td>
                            <td>{{ rd.num_of_default_cust }}</td>
                            <td>{{ rd.num_of_other_cust }}</td>
                            <td>{{ "{:,.0f}".format(rd.room_base_price) }} VNĐ</td>
                            <td>{{ "{:,.0f}".format(rd.room_final_price) }} VNĐ</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex gap-2 mt-3 justify-content-end">
        <a href="/customer_orders" class="btn btn-green">Quay lại</a>
    </div>
</div>
{% endblock %}