{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Danh sách đặt phòng</h1>
    <table class="table table-bordered table-striped text-center">
        <thead>
        <tr>
            <th>Tên người đặt</th>
            <th>Ngày đặt</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>DDP123456</td>
            <td>2024-12-01</td>
            <td>
                <a href="#" class="btn btn-gr2 btn-sm">Xem chi tiết</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}