{% extends 'layout/base.html' %}

{% block content %}

{% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}
<h1 class="text-center mt-5">ĐĂNG KÝ</h1>

<div class="d-flex justify-content-center mt-4">
    <div class="card p-5" style="max-width: 500px; width: 100%; box-shadow: 0 8px 16px rgba(0,0,0,0.2); border-radius: 10px;">
        <form method="post" action="/register" enctype="multipart/form-data">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg" id="name" placeholder="Họ tên" name="name" required>
                <label for="name">Họ tên</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg" id="username" placeholder="Tên đăng nhập" name="username" required>
                <label for="username">Tên đăng nhập</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control form-control-lg" id="password" placeholder="Mật khẩu" name="password" required>
                <label for="password">Mật khẩu</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control form-control-lg" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm" required>
                <label for="confirm">Xác nhận mật khẩu</label>
            </div>
            <div class="form-floating mb-4">
                <input type="file" accept=".png,.jpg" class="form-control form-control-sm" id="avatar" placeholder="Ảnh đại diện" name="avatar" required>
                <label for="avatar">Ảnh đại diện</label>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="togglePassword()" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Hiện mật khẩu</label>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn btn-pink btn-lg w-100">Đăng ký</button>
            </div>
        </form>
    </div>
</div>

<script>
    function togglePassword() {
        showHidePass('password', 'confirm');
    }
</script>
{% endblock %}