{% extends 'layout/base.html' %}

{% block content %}
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">LẬP PHIẾU THUÊ PHÒNG</h2>
        <form method="post" action="{{ url_for('process_renting') }}">

            <input type="hidden" value="{{ order.id }}" name="id">
            <input type="hidden" name="checkin_date" value="{{ order.checkin_date }}">
            <input type="hidden" name="checkout_date" value="{{ order.checkout_date }}">
            <input type="hidden" name="cust_room" id="cust_room">

            <h5 class="mb-3 mt-4">Thông tin cơ bản:</h5>
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th>Nhân viên lập phiếu</th>
                        <th>Ngày nhận phòng</th>
                        <th>Ngày trả phòng</th>
                        <th>Số lượng khách thuê</th>
                        <th>Số lượng phòng thuê</th>
                    </tr>
                    <tr>
                        <td>{{ current_user.name }}</td>
                        <td>{{ order.checkin_date.strftime('%d/%m/%Y') }}</td>
                        <td>{{ order.checkout_date.strftime('%d/%m/%Y') }}</td>
                        <td>{{ num_cust }}</td>
                        <td>{{ num_room }}</td>
                    </tr>
                    <tr>
                        <th>Các phòng thuê</th>
                        <td colspan="4">
                            {% for room in rooms %}
                            {{ room.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5 class="mb-3 mt-4">Danh sách khách hàng:</h5>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Loại khách hàng</th>
                        <th>CMND</th>
                        <th>Địa chỉ</th>
                        <th>Phòng</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in customers %}
                    <tr>
                        <td>{{ c.cust_name }}</td>
                        <td>{{ c.custType.name }}</td>
                        <td>{{ c.custIdentity_num }}</td>
                        <td>{{ c.custAddress }}</td>
                        <td>
                            <select id="room_select_{{ c.id }}" name="room_select_{{ c.id }}" class="form-select" data-max-cust="{{ room_data[c.id] }}">
                                <option value="" disabled selected>Chọn phòng</option>
                                {% for room in rooms %}
                                <option value="{{ room.id }}" data-max-cust="{{ room.roomType.maxCust }}">
                                    {{ room.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button id="confirmButton" type="submit" class="btn btn-success me-2">Xác nhận lập phiếu</button>
                <button type="button" class="btn btn-secondary">Hủy</button>
            </div>
        </form>
    </div>

    <!-- Include the updated JavaScript file -->
    <script src="{{ url_for('static', filename='js/rent.js') }}"></script>
</body>
{% endblock %}
