.bg-pink {
    background-color: rgb(255, 178, 165);
}

.btn-pink{
    background-color: rgb(255, 178, 165);
    color: black;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
    .btn:hover {
            background-color: rgb(232, 129, 166);
            color: white;
        }

.btn-pink2{
    background-color: rgb(255, 178, 165);
    color: black;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
    .btn:hover {
            background-color: rgb(232, 129, 166);
            color: white;
        }

.btn-mam{
    background-color: rgb(222, 130, 134);
    color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-red{
    background-color: rgb(117, 35, 41);
    color: white;
    border: none;
    display: inline-flex;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-gr{
    background-color: rgb(117, 148, 101);
    color: white;
    border: none;
    display: inline-flex;
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-gr2{
    background-color: rgb(117, 148, 101);
    color: white;
    border: none;
    display: inline-flex;
    padding: 5px 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-blossom{
    background-color: rgb(179, 128, 170);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.btn-circle {
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
}

.fnc_button {
        display: flex;
        justify-content: space-between;
    }

.room-container {
            margin-top: 20px;
        }

        .list-view-container {
            width: 100%;
            height: 300px; /* Chiều cao cố định */
            overflow-y: auto; /* Cho phép cuộn dọc */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: none;
        }

        .room-row {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
        }

        .room-item {
            flex: 1;
            max-width: 19%;
            border: 1px solid #f0f0f0;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 0 5px;
            cursor: pointer; /* Indicate clickable behavior */
            transition: background-color 0.3s;
        }

        .room-item.selected {
            background-color: green;
            color: white; /* Optional: Make text more readable */
        }

        .room-name {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .room-type {
            font-size: 14px;
            margin-bottom: 10px;
        }

.text-pink{
    color: #FFB2A5;
}

.rounded-border {
    border: 1px solid #ddd; /* Màu và độ dày của viền */
    border-radius: 12px; /* Bo tròn các góc */
    background-color: white; /* Màu nền nhạt */
    padding: 5px; /* Khoảng cách bên trong */
    margin-bottom: 10px; /* Khoảng cách phía dưới */
    width: 100%;
    }
    .form-check-inline {
    margin-right: 5px;
    margin-bottom: 5px;
    }


.img-hotel {
    border: 1px solid rgb(232, 129, 166); /* Blue border for the frame */
    padding: 10px; /* Adds space between the image and the frame */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow to add depth */
    max-width: 100%; /* Ensures the image fits within the container */
    height: 280px; /* Maintains aspect ratio */
    display: block; /* Removes any unwanted inline spacing */
}
